@charset "utf-8";

/* fonts  */
@font-face { 
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 100;  
	src: url('./NotoSansKR-Thin.ttf') format('truetype');
}
@font-face { 
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 400;  
	src: url('./NotoSansKR-Medium.ttf') format('truetype');
}
@font-face { 
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 700;  
	src: url('./NotoSansKR-ExtraBold.ttf') format('truetype');
}

.hello {
  color : red;
  background: url("./icon.png");
  font-family: "NotoSansKR"
}